# Team
# @Nihisil is the Team Lead and the others are team members
* @andyduong1920 @bterone @byhbt @hoangmirs @liamstevens111 @longnd @malparty @Nihisil @nvminhtue @sanG-github

# Engineering Leads
CODEOWNERS @nimblehq/engineering-leads
