# Team
# @hoangmirs is the Team Lead and the others are team members
* @andyduong1920 @bterone @hoangmirs @liamstevens111 @nvminhtue @sanG-github @tung-nimblehq

# Engineering Leads
CODEOWNERS @nimblehq/engineering-leads
