# Team
# @hoangmirs is the Team Lead and the others are team members
* @hoangmirs @andyduong1920 @byhbt @hanam1ni @junan @longnd @rosle @Nihisil @bterone @Lahphim @malparty

# Engineering Leads
CODEOWNERS @nimblehq/engineering-leads
