*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/tmp
/node_modules
oclif.manifest.json
yarn.lock
/coverage
.DS_Store
tsconfig.tsbuildinfo

# IDEA
.idea
*.iml

# Vscode
.vscode

# Emacs
.dir-locals.el

# Trivy
trivy-output.json
